@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@100&display=swap');

body {
    background-color: rgb(26, 188, 156);
    margin: 1em 0;

  }
  
  .container_title {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
  }

  .icon {
    margin-top: .5em;
    height: 4em;
    width: auto;
  }
  
  #bride {
    margin-right: 1em;
  }

  #groom {
    margin-left: 1em;
  }

  .title {
    text-align: center;
    font-family: 'IBM Plex Serif', serif;
  }
  
  .subtitle {
    text-align: center;
    font-family: 'IBM Plex Serif', serif;
    margin: 0.5em 0 1.5em 0;
  }

  .form {
    display: flex;
    justify-content: space-between;
  }

  #imageInput {
    display: none;
  }

  #button_select {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
    border: none;
    margin-left: 3em;
    padding: 0 1em;
    font-size: .8em;
    font-family: 'IBM Plex Serif', serif;

  }

  .upload {
    margin-left: 1em;
    height: 2em;
    width: auto;
  }

  .submit {
    margin-right: 3em;
    font-size: 1em;
    border-radius: 2em;
    border: none;
    padding: 0 1em;
    font-family: 'IBM Plex Serif', serif;
  }
  
  .alert-container {
    text-align: center;
    margin-top: .5em;
    font-size: 1.1em;
    color: #ffffff;
  }
  
  #gallery {
    margin: 1em 3em 1em 1em;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 10px;
  }
  
  .image-container {
    position: relative;
    text-align: center;
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
  }
  
  .image-container button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #c60a0a;
    font-size: .7em;
    color: #ffffff;
    border: none;
    padding: 2px 4px;
    cursor: pointer;
  }

  @media only screen and (max-width: 600px) {
    #gallery {
      grid-template-columns: repeat(5, 1fr) !important;
    }
  }
  